.headerContent{
    width: 100%;
    height: 100vh;
  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin: auto;
    padding-bottom: 2%;

    /* background: #3f51b5; */
    background-image: linear-gradient(to bottom, #3f51b5, #0091B5);
    /* background-image: linear-gradient(165deg, #3f51b5, #006CC6, #0080C5, #0091B5, #009E9D); */
    /* background-image: linear-gradient(165deg, #3f51b5, #0073c9, #0089b1, #00987d, #43a047); */
    color: #E0E2DB;
    
  }

  /*Down-pointing chevron*/
  .headerContent #linkToProjectSection{
    visibility: hidden;

    /*Animations short-hand: {duration} {timing-function} {dekay} {itetarion-count} {nameOfAnimation}*/
    animation: 0.7s ease-out 1.3s 1 fadeDownFromTop;
    animation-fill-mode: forwards;
}

  .headerContent .navigation{
      position: relative;

      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: center;

      width: 100%;
  }

  .headerContent .navigation .rightNavigation{
      /* position: relative;
      top: 0;
      right: 10px;
      z-index: 1000;

      align-self: flex-end; */

      margin: 10px;
      margin-top: 0;
      padding-top: 10px;
      visibility: hidden;

      /*Animations short-hand: {duration} {timing-function} {dekay} {itetarion-count} {nameOfAnimation}*/
      animation: 0.7s ease-out 0.5s 1 fadeUpFromBottom;
      animation-fill-mode: forwards;
  }

  .headerContent .navigation .leftNavigation{
      position: relative;
      top: 10px;
      left: 10px;
      z-index: 1000;

      align-self: flex-start;
  }

  /*Hide the border for navigation buttons, until hover*/
  .headerContent .navigation .navButton{
      border: 1px solid transparent;
      margin: 5px;
  }

  .headerContent .navigation .navButton:hover{
      border: 1px solid white;
  }
  
  .headerContent .shortIntro{
      z-index: 1000;
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      flex-grow: 4;

      margin: 5px;
      width: 100%;
      max-width: 680px;

      text-align: center;
      visibility: hidden;

      /*Animations short-hand: {duration} {timing-function} {dekay} {itetarion-count} {nameOfAnimation}*/
      animation: 0.7s ease-out 1s 1 fadeUpFromBottom;
      animation-fill-mode: forwards;
  }

  .headerContent .shortIntro h1{
      /*Limit the minimum size to be 29pt for name, and gradually increase as screen increases*/
      font-size: calc(28pt + 2vw);
      text-shadow: 2px 3px 0px #898999;
  }

  .headerContent .shortIntro h3{
      margin-left: 10px;
      margin-right: 10px;
  }

  .headerContent .socialLinks{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-evenly;
      align-items: center;

      flex-grow: 3;
      min-width: 200px;
  }

  .headerContent .socialLinks .socialLink{
      margin: 10px;
      visibility: hidden;
      
      /*Animations short-hand: {duration} {timing-function} {dekay} {itetarion-count} {nameOfAnimation}*/
      animation: 0.7s ease-out 1.3s 1 slideInFromBottom;
      animation-fill-mode: forwards;
  }


  /*** ANIMATION KEYFRAMES ***/

  /*Rise up and rotate tranistion*/
  @keyframes slideInFromBottom{
    0% {
        transform: translateY(30%) rotate(20deg);
        opacity: 0;
    }

    100% {
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        visibility: visible;
    }
}
    /*Fade-up from bottom*/
  @keyframes fadeUpFromBottom{
    0% {
        transform: translateY(20%);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
        visibility: visible;
    }
}

  /*Fade-down from top, infinitely*/
  @keyframes fadeDownFromTop{
    0% {
        transform: translateY(-30%);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
        visibility: visible;
    }
}