.headerContent{
    width: 100%;
    height: 100vh;
  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin: auto;
    padding-bottom: 2%;

    background: #3f51b5;
    color: white;
    
  }

  .headerContent .navigation{
      position: relative;

      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      width: 100%;
  }

  .headerContent .navigation .rightNavigation{
      position: relative;
      top: 10px;
      right: 10px;
      z-index: 1000;

      align-self: flex-end;

      margin: 10px;
      margin-top: 0;

      /*Animations short-hand: {duration} {timing-function} {dekay} {itetarion-count} {nameOfAnimation}*/
      animation: 0.7s ease-out 0s 1 fadeUpFromBottom;
  }

  .headerContent .navigation .leftNavigation{
      position: relative;
      top: 10px;
      left: 10px;
      z-index: 1000;

      align-self: flex-start;
  }

  /*Hide the border for navigation buttons, until hover*/
  .headerContent .navigation .navButton{
      border: 1px solid transparent;
      margin: 5px;
  }

  .headerContent .navigation .navButton:hover{
      border: 1px solid white;
  }
  
  .headerContent .shortIntro{
      z-index: 1000;
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      flex-grow: 4;

      margin: 5px;
      width: 100%;

      text-align: center;

      /*Animations short-hand: {duration} {timing-function} {dekay} {itetarion-count} {nameOfAnimation}*/
      animation: 0.7s ease-out 0s 1 fadeUpFromBottom;
  }

  .headerContent .shortIntro h1{
      /*Limit the minimum size to be 29pt for name, and gradually increase as screen increases*/
      font-size: calc(28pt + 2vw);
  }

  .headerContent .shortIntro h3{
      margin-left: 10px;
      margin-right: 10px;
  }

  .headerContent .socialLinks{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-evenly;
      align-items: center;

      flex-grow: 3;
      min-width: 200px;
  }

  .headerContent .socialLinks .socialLink{
      margin: 10px;
      visibility: hidden;
      
      /*Animations short-hand: {duration} {timing-function} {dekay} {itetarion-count} {nameOfAnimation}*/
      animation: 0.7s ease-out 0.8s 1 slideInFromBottom;
      animation-fill-mode: forwards;
  }

  /*Rise up and rotate tranistion*/
  @keyframes slideInFromBottom{
    0% {
        transform: translateY(30%) rotate(20deg);
        opacity: 0;
    }

    100% {
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        visibility: visible;
    }
}
  
  /*ANIMATION KEYFRAMES*/
  @keyframes fadeUpFromBottom{
    0% {
        transform: translateY(20%);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}