.headerContent{
    width: 100%;
    height: 100vh;
  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin: auto;
    padding-bottom: 2%;

    background: #1A77B5;
    /* background-image: linear-gradient(to bottom, #3f51b5, #0091B5); */
    

    /* color: #E0E2DB; */
    color: white;

    line-height: 24px;
    
  }

  /*Down-pointing chevron*/
  .headerContent #linkToProjectSection{
    visibility: hidden;

    /*Animations short-hand: {duration} {timing-function} {dekay} {itetarion-count} {nameOfAnimation}*/
    animation: 0.7s ease-out 2s 1 fadeDownFromTop;
    animation-fill-mode: forwards;
}

  .headerContent .navigation{
      position: relative;

      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: center;

      width: 100%;
  }

  .headerContent .navigation .rightNavigation{
      margin: 10px;
      margin-top: 0;
      padding-top: 10px;
      visibility: hidden;

      /*Animations short-hand: {duration} {timing-function} {dekay} {itetarion-count} {nameOfAnimation}*/
      animation: 0.7s ease-out 0.5s 1 fadeUpFromBottom;
      animation-fill-mode: forwards;
  }

  .headerContent .navigation .leftNavigation{
      position: relative;
      top: 10px;
      left: 10px;
      z-index: 1000;

      align-self: flex-start;
  }

  /*Hide the border for navigation buttons, until hover*/
  .headerContent .navigation .navButton{
      border: 1px solid transparent;
      margin: 5px;
  }

  .headerContent .navigation .navButton:hover{
      border: 1px solid white;
  }
  
  .headerContent .shortIntro{
      z-index: 1000;
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      flex-grow: 4;

      margin: 5px;
      width: 100%;
      max-width: 680px;

      text-align: center;
      visibility: hidden;

      /*Animations short-hand: {duration} {timing-function} {delay} {itetarion-count} {nameOfAnimation}*/
      animation: 0.7s ease-out 0.5s 1 fadeUpFromBottom;
      animation-fill-mode: forwards;
  }

  .headerContent .shortIntro h1{
      /*Limit the minimum size to be 29pt for name, and gradually increase as screen increases*/
      font-size: calc(28pt + 2vw);
      text-shadow: 2px 3px 0px #898999;
  }

  .headerContent .shortIntro h3{
      margin-left: 10px;
      margin-right: 10px;
  }

  .headerContent .socialLinks{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-evenly;
      align-items: center;

      flex-grow: 3;
      min-width: 200px;
  }

  .headerContent .socialLinks .socialLink{
      margin: 10px;
      visibility: hidden;
      
      /*Animations short-hand: {duration} {timing-function} {delay} {itetarion-count} {nameOfAnimation}*/
      animation: 0.7s ease-out 0.5s 1 fadeUpFromBottom;
      animation-fill-mode: forwards;
  }

/*CSS for full name, all 10 characters */
.headerContent #fullName{
    width: calc(300px + 2vw);
    animation: fillWhite 0.75s ease forwards 3.2s;
}

.headerContent #fullName path:nth-child(1){ /*B*/
    stroke-dasharray: 537;
    stroke-dashoffset: 537;
    /* fill: black; */
    animation: line-animation 2.5s ease forwards 1s;
}

.headerContent #fullName path:nth-child(2){ /*I*/
    stroke-dasharray: 463;
    stroke-dashoffset: 463;
    animation: line-animation 2.5s ease forwards 1s;
}

.headerContent #fullName path:nth-child(3){ /*L*/
    stroke-dasharray: 495;
    stroke-dashoffset: 495;
    animation: line-animation 2.5s ease forwards 1s;
}

.headerContent #fullName path:nth-child(4){ /*A*/
    stroke-dasharray: 400;
    stroke-dashoffset: 400;
    animation: line-animation 2.5s ease forwards 1s;
}

.headerContent #fullName path:nth-child(5){ /*L*/
    stroke-dasharray: 635;
    stroke-dashoffset: 635;
    animation: line-animation 2.5s ease forwards 1s;
}

.headerContent #fullName path:nth-child(6){ /*A*/
    stroke-dasharray: 400;
    stroke-dashoffset: 400;
    animation: line-animation 2.5s ease forwards 1.2s;
}

.headerContent #fullName path:nth-child(7){ /*H*/
    stroke-dasharray: 463;
    stroke-dashoffset: 463;
    animation: line-animation 2.5s ease forwards 1.2s;
}

.headerContent #fullName path:nth-child(8){ /*M*/
    stroke-dasharray: 650;
    stroke-dashoffset: 650;
    animation: line-animation 2.5s ease forwards 1.2s;
}

.headerContent #fullName path:nth-child(9){ /*E*/
    stroke-dasharray: 550;
    stroke-dashoffset: 550;
    animation: line-animation 2.5s ease forwards 1.2s;
}

.headerContent #fullName path:nth-child(10){ /*D*/
    stroke-dasharray: 550;
    stroke-dashoffset: 550;
    animation: line-animation 2.5s ease forwards 1.2s;
}


  /*** ANIMATION KEYFRAMES ***/

/*Rise up and rotate tranistion*/
@keyframes slideInFromBottom{
    0% {
        transform: translateY(30%) rotate(20deg);
        opacity: 0;
    }

    100% {
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        visibility: visible;
    }
}

/*Fade-up from bottom*/
@keyframes fadeUpFromBottom{
    0% {
        transform: translateY(20px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
        visibility: visible;
    }
}

/*Fade-down from top*/
@keyframes fadeDownFromTop{
    0% {
        transform: translateY(-30%);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
        visibility: visible;
    }
}

/*Remove dasshed-strokes from element*/
@keyframes line-animation{
    to{
        stroke-dashoffset: 0;
    }
}

/*Fill element with white*/
@keyframes fillWhite{
    from{
        fill: transparent;
    }
    to{
        fill: white;
    }
}