.hobbies{
    width: 100%;
    min-height: 100vh;
    text-align: center;
    padding-bottom: 30px;

    /* background-image: url('../../assets/dslr_icon.svg'); */
    background-image: linear-gradient(to bottom, #0091B5, #009E9D);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.hobbies h1{
    width: 100%;
    color: white;
    margin: 50px 0 50px 0;
    line-height: 0.1em;
    text-align: center;
    border-bottom: 1px solid white;
}

.hobbies h1 span{
    padding: 0 10px;
    background: #0091B5;
}

.hobbies .hobbiesContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;

    margin-top: calc(20px + 3%)
}

.hobbies .hobbiesContainer .imageViewer {
    width: calc(260px + 32%);
    background-color: white;

    border-radius: 10px;
}

.hobbies .hobbiesContainer .imageViewer p{
    padding: 15px;
    margin: 0 30px 0 30px;
}

.hobbies .hobbiesContainer .imageViewer .imageViewerContainer{
    width: 100%;
    height: 100%;
}