.hobbies{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
    min-height: 100vh;
    text-align: center;
    padding-bottom: 30px;

    /* background-image: url('../../assets/dslr_icon.svg'); */
    background: #1A77B5;
    background-image: url('../../assets/dslr_icon.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    line-height: 24px;
}

.hobbies h1{
    width: 100%;
    color: white;
    margin: 0 0 70px 0;

    overflow: hidden;
    line-height: normal;
    
}

.hobbies h1::before, .hobbies h1::after{
    background-color: white;
    content: "";
    display: inline-block;
    height: 3px;
    position: relative;
    vertical-align: middle;
    width: 50%;
}

.hobbies h1::before {
    right: 0.5em;
    margin-left: -50%;
  }
  
.hobbies h1::after {
    left: 0.5em;
    margin-right: -50%;
  }

.hobbies .hobbiesContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;

    width: 90%;
}

.hobbies .hobbiesContainer #photographyShowcase{
    max-width: 800px;

    background: white;
    border-radius: 10px;

    margin: 10px;
}

.hobbies .hobbiesContainer #otherInterests{
    width: 700px;
    height: 300px;

    background: white;
    border-radius: 10px;

    margin: 10px;
}

.hobbies .hobbiesContainer #otherInterests h1{
    color: black;
    margin: 15px 0 15px 0;
}