.hobbies{
    width: 100%;
    min-height: 100vh;
    text-align: center;
    padding-bottom: 30px;

    /* background-image: url('../../assets/dslr_icon.svg'); */
    background-image: url('../../assets/dslr_icon.svg'), linear-gradient(to bottom, #0091B5, #009E9D);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.hobbies h1{
    width: 100%;
    color: white;
    margin: 50px 0 50px 0;
    /* line-height: 0.1em;
    text-align: center;
    border-bottom: 1px solid white; */
    overflow: hidden;
}

.hobbies h1::before, .hobbies h1::after{
    background-color: white;
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 50%;
}

.hobbies h1::before {
    right: 0.5em;
    margin-left: -50%;
  }
  
.hobbies h1::after {
    left: 0.5em;
    margin-right: -50%;
  }

/* .hobbies h1 span::after{
    content: '';
    position: fixed;
    height: 5px;
    border-bottom: 1px solid white;
    border-top: 1px solid white;
    top: 0;
    width: 600px;
} */

.hobbies .hobbiesContainer{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}