.mainBody{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.mainBody .projects{
    width: 100%;
    height: 100vh;
    text-align: center;

    border-bottom: 3px dotted;
}

.mainBody .hobbies{
    width: 100%;
    height: 100vh;
    text-align: center;
}