.projects{
    width: 100%;
    min-height: 100vh;
    text-align: center;

    background: #0091B5;
    background-image: url('../../assets/code_icon.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0px -200px;

    color: white;
}

.projects h1{
    width: 100%;
    color: white;
    margin-top: 40px;

    overflow: hidden;
}
.projects h1::before, .projects h1::after{
    background-color: white;
    content: "";
    display: inline-block;
    height: 3px;
    position: relative;
    vertical-align: middle;
    width: 50%;
}

.projects h1::before {
    right: 0.5em;
    margin-left: -50%;
}
  
.projects h1::after {
    left: 0.5em;
    margin-right: -50%;
}

.projects .projectsContainer{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
    align-items: center;

    margin-top: calc(50px + 3%);
}

.projects .projectsContainer #linkToHobbiesSection{
    margin-top: 30px;
}

.projects .projectsContainer .projectsOverview{
    width: calc(200px + 40%);
    max-width: 800px;
    margin-bottom: 50px;

    font-size: 13.5pt;

    background: none;
    color: white;
}

.projects .projectsContainer .projectsOverview p{
    margin: 20px;
}

.projects .projectsContainer .projectsSubsection{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    margin: 20px;
    margin-bottom: 0;
    width: 100%;
    min-width: 200px;

    color: black;
}

.projects .projectsContainer .projectsSubsection .firstSubsection{
    flex-grow: 1;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    border-right: solid white 1px;
}

.projects .projectsContainer .projectsSubsection .secondSubsection{
    flex-grow: 1;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.projects .projectsContainer .projectsSubsection .individualProject{
    margin: 40px 20px 60px 20px;
    max-width: 550px;
    background-color: white;
    border-radius: 10px;
}

.projects .projectsContainer .projectsSubsection .individualProject .projectPhoto{
    margin-top: 10px;
}

.projects .projectsContainer .projectsSubsection .individualProject .projectDetails{
    margin: 15px;
}

.projects .projectsContainer .projectsSubsection .individualProject .projectDetails .seeMoreButton{
    color: #3f51b5;
    margin: 10px 10px 10px 0px;
}

.projects .projectsContainer .projectsSubsection .individualProject .projectDetails .seeMoreButton:hover{
    color: white;
    background-color: #3f51b5;
}

.projects .projectsContainer .projectsSubsection .individualProject .projectDetails h3{
    font-weight: 500;
}

.projects .projectsContainer .projectsSubsection .individualProject .techUsedChips{
    margin: 15px 5px 15px 7px;
}