.projects{
    width: 100%;
    min-height: 100vh;
    text-align: center;

    background: none;
    color: black;
}


/* ENABLE for lines on both sides of text */

/* .projects h1::before, .projects h1::after{
    background-color: white;
    content: "";
    display: inline-block;
    height: 3px;
    position: relative;
    vertical-align: middle;
    width: 50%;
} */

/* .projects h1::before {
    right: 0.5em;
    margin-left: -50%;
}
  
.projects h1::after {
    left: 0.5em;
    margin-right: -50%;
} */

.projects .projectsContainer{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;

    line-height: 24px;
}

.projects .projectsContainer #linkToHobbiesSection{
    margin-top: 30px;
    margin-bottom: 90px;
}
.projects .projectsContainer #projectInnerContainer{
    background: rgba(255, 255, 255, 0.6);
    width: 95%;
}

.projects .projectsContainer #projectInnerContainer .projectsOverview{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    align-self: center;

    max-width: 95%;
    margin-bottom: 50px;

    font-size: 13.5pt;

    border-radius: 10;
    color: black;
}

.projects .projectsOverview #projectsHeading{
    color: #1A77B5;
    margin: 20px;
    font-size: 22pt;
}

.projects .projectsContainer #projectInnerContainer .projectsOverview p{
    margin: 20px;
    text-align: left;
}

.projects .projectsContainer #projectInnerContainer .projectsSubsection{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;

    width: 100%;
    min-width: 200px;

    color: black;
}

.projects .projectsContainer #projectInnerContainer .projectsSubsection .firstSubsection{
    flex-grow: 1;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.projects .projectsContainer #projectInnerContainer .projectsSubsection .secondSubsection{
    flex-grow: 1;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#individualProject{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    margin: 40px 20px 60px 20px;
    max-width: 750px;
    height: 280px;

    background-color: white;
    border-radius: 10px;

    box-shadow: 0 3px 11px rgba(0,0,0,0.12), 0 2px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

/*When hovering over individual project, grow the box-shadow to stand-out*/
#individualProject:hover{
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

#individualProject .projectPhoto{
    margin-top: 10px;
}

#individualProject .projectDetails{
    min-width: 300px;
    margin: 15px;
}

#individualProject .projectDetails .seeMoreButton{
    color: #3f51b5;
    margin: 10px 10px 10px 0px;
}

#individualProject .projectDetails .seeMoreButton:hover{
    color: white;
    background-color: #3f51b5;
}


#individualProject .secondaryDetails{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    width: 100%;
}

#individualProject .secondaryDetails h3{
    font-weight: 500;
    margin: 15px 15px 20px 15px;
}

#individualProject .secondaryDetails .chipsContainer{
    max-height: 110px;
    overflow-y: scroll;
}

#individualProject .secondaryDetails .techUsedChips{
    margin: 10px 5px 10px 7px;
}

/*** Media queries ***/

/*** Wrap the inidividual projects into columns 1280px ***/
@media only screen and (max-width: 1280px){
    .projects .projectsContainer #projectInnerContainer{
        width: 100%;
    }

    .projects .projectsContainer #projectInnerContainer .projectsOverview{
        align-items: center;
    }

    .projects .projectsContainer #projectInnerContainer .projectsSubsection{
        flex-wrap: wrap;
    }
}

/*When screen is too small to display chips and overview beside each project*/
@media only screen and (max-width: 900px){
    #individualProject{
        flex-direction: column;
        margin: 20px 20px 40px 20px;
        height: unset;
    }

    #individualProject .projectDetails{
        margin-bottom: 0;
    }

    .projects .projectsContainer #projectInnerContainer .projectsOverview{
        margin-bottom: 0;
    }
}