.workExperience{
    width: 98%;
    margin-top: 15%;
    background: #212121;
    color: white;

    border-radius: 20px;
    border-bottom-left-radius: initial;
    border-bottom-right-radius: initial;
}

.workExperience #workExperienceHeading{
    font-size: 40pt;
    margin: 5%;
    text-align: center;
}

/*Mobile display threshhold*/
@media only screen and (max-width: 900px){
    .workExperience{
        margin-top: 33%;
        width: 100%;
        border-radius: 25px;
        border-bottom-left-radius: initial;
        border-bottom-right-radius: initial;
    }
}