body {
  width: 100%;
  height: 100vh;

  margin: 0;
  overflow-y: auto;

  color: white;
  background: #1E1E1E;

  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;

  display: flex;
  flex-direction: row;
}

p {
  margin: 0;
}

h1 { font-size: 2rem; }
h2 { font-size: 1.5rem; }

hr {
  margin: 10px 0;
  background: rgba(255, 255, 255, 0.3);
}

.debug { border: solid 1px red; }

.hidden { display: none; }
.container { padding: 25px; }

.grow { flex-grow: 1; }
.grow-1 { flex-grow: 0.1; }
.grow-2 { flex-grow: 0.2; }
.grow-3 { flex-grow: 0.3; }
.grow-4 { flex-grow: 0.4; }
.grow-5 { flex-grow: 0.5; }

.nrow {
  display: flex;
  flex-direction: row;
}

.ncol {
  display: flex;
  flex-direction: column;
}

.n-elevation-1 { box-shadow: 0px 0px 8px 6px rgba(0, 0, 0, 0.15); }
.n-elevation-1:hover { box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.3); }

.f-wrap { flex-wrap: wrap; }

.space-evenly { justify-content: space-evenly; }
.space-between { justify-content: space-between; }
.space-around { justify-content: space-around; }

.justify-center { justify-content: center; }
.justify-end { justify-content: flex-end; }

.align-center { align-items: center; }

/*** CUSTOM SCROLLBAR ***/
::-webkit-scrollbar {
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: white;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(131, 131, 131);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}