#photographyHeader{
    color: black;
    margin: 15px 0 15px 0;
}

#photographySummary{
    padding: 0 15px 0 15px;
}

.largeImageViewer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;

    margin: 5px;
}

.largeImageViewer *{
    color: black;
}

.largeImageViewer .rightContainer{
    margin-bottom: 0;
}

/*Media queries for small devices*/
@media only screen and (max-width: 1700px){
    .largeImageViewer{
        flex-wrap: wrap-reverse;
    }

    .largeImageViewer .rightContainer{
        margin-bottom: 5%;
    }
}