.workExperienceTimeline{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: nowrap;
    width: 95%;

    margin: auto;
}

/*** Wrap timeline ***/
@media only screen and (max-width: 1280px){
    .workExperienceTimeline{
        flex-wrap: wrap;
    }
}